body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

input {
  margin-left: 5px;
  padding: 2px 5px;
}

button {
  margin-left: 10px;
  padding: 2px 8px;
  cursor: pointer;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

ul {
  margin-top: 5px;
  padding-left: 20px;
}

img {
  display: block;
  margin: 10px 0;
}
